# Homework: Joins & Tidy Data

## Question 1
Read in all 4 credit card transaction datasets and clean up the column names.

- CardBase.csv
- CustomerBase.csv
- FraudBase.csv
- TransactionBase.csv

In [3]:
import pandas as pd
# conda install pyjanitor -c conda-forge
from janitor import clean_names

In [4]:
card_base = pd.read_csv("data/CardBase.csv")
customer_base = pd.read_csv("data/CustomerBase.csv")
fraud_base = pd.read_csv("data/FraudBase.csv")
transaction_base = pd.read_csv("data/TransactionBase.csv")

In [16]:
card_base = clean_names(card_base)
card_base.head()

           card_number card_family  credit_limit  cust_id
0  8638-5407-3631-8196     Premium        530000  CC67088
1  7106-4239-7093-1515        Gold         18000  CC12076
2  6492-5655-8241-3530     Premium        596000  CC97173
3  2868-5606-5152-5706        Gold         27000  CC55858
4  1438-6906-2509-8219    Platinum        142000  CC90518

In [17]:
customer_base = clean_names(customer_base)
customer_base.head()

   cust_id  age customer_segment customer_vintage_group
0  CC25034   35          Diamond                    VG1
1  CC59625   22          Diamond                    VG1
2  CC69314   33          Diamond                    VG1
3  CC67036   46          Diamond                    VG1
4  CC25597   44          Diamond                    VG1

In [18]:
fraud_base = clean_names(fraud_base)
fraud_base.head()

  transaction_id  fraud_flag
0   CTID50558449           1
1   CTID55936882           1
2   CTID63762180           1
3   CTID76723439           1
4   CTID21246201           1

In [ ]:
transaction_base = clean_names(transaction_base)
transaction_base.head()

## Question 2
Join the data containing card details and customer details by customer id, so that all records of card details and any matching records in customer details are kept.

In [15]:
#left_join card_base customer_base

In [19]:
ccard_base.merge(customer_base, how='left', on='cust_id')
card_base

             card_number card_family  credit_limit  cust_id
0    8638-5407-3631-8196     Premium        530000  CC67088
1    7106-4239-7093-1515        Gold         18000  CC12076
2    6492-5655-8241-3530     Premium        596000  CC97173
3    2868-5606-5152-5706        Gold         27000  CC55858
4    1438-6906-2509-8219    Platinum        142000  CC90518
..                   ...         ...           ...      ...
495  4708-4407-9601-6022     Premium        691000  CC64993
496  6042-2856-7280-2925        Gold         33000  CC26787
497  8706-3809-5167-3899     Premium        144000  CC32532
498  9540-8558-5897-5046     Premium        830000  CC90246
499  5587-7265-8118-7718        Gold         24000  CC37803

[500 rows x 4 columns]